.top-padding {
  padding-top: 2rem;
}

.full-padding {
  padding-top: 2rem;
	padding-bottom: 2rem;
}

.card, 
.card:hover {
    height: 100%;
    width: 75%;
    background-color: white;
}
  
.card-img-top {
  height: 65%;
}