.padding {
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.card, 
.card:hover {
    height: 100%;
    width: 75%;
    color: black;
    background-color: white;
}

.card:hover {
  background-color: #52b0e3;
}

.card-img-top {
  height: 70%;
}

img {
  max-width: 100%;
  height: auto;
}