.padding {
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.card, 
.card:hover {
    /* border: 3px solid #3372b0; */
    /* max-width: 75%;
    height: auto; */
    height: 100%;
    width: 75%;
    color: black;
    background-color: white;
}

.card:hover {
  background-color: #52b0e3;
}

.card-img-top {
  /* max-width: 100%;
  height: auto;
  object-fit: cover; */
  height: 70%;
}

img {
  max-width: 100%;
  height: auto;
}